<!-- <ul>
  <li *ngFor="let product of products">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="product.imageURL">
      <mat-card-content>
        <p>
          {{product.text}}
        </p>
      </mat-card-content>
    </mat-card>
  </li>
</ul> -->
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="product.imageURL">
      <mat-card-content>
        <p>
          {{product.text}}
        </p>
      </mat-card-content>
      <a mat-raised-button color='primary' routerLink='/product:id'>Details</a>
    </mat-card>
    <mat-divider></mat-divider>
  </mat-grid-tile>
</mat-grid-list>
