

<ul class="flex-container products">
  <li class="flex-item" *ngFor="let product of products">
    <mat-card class="card">
      <mat-card-header class="header">
        <mat-card-title class="title">{{product.title}}</mat-card-title>
      </mat-card-header>
      <div class="image">
        <img [src]="product.imageURL">
      </div>
      <mat-card-content class="content">
        {{product.text}}
      </mat-card-content>
      <div class="footer">
        <a mat-raised-button color='primary' class="button" routerLink='/product/{{product._id}}'>Details</a>
      </div>

    </mat-card>
  </li>
</ul>
